<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Revolution /Forgot Password</title>

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- BEGIN CORE CSS -->
  <link rel="stylesheet" href="../../../assets/admin1/css/admin1.css">
  <link rel="stylesheet" href="../../../assets/globals/css/elements.css">
  <!-- END CORE CSS -->

  <!-- BEGIN PLUGINS CSS -->
  <link rel="stylesheet" href="../../../assets/globals/css/plugins.css">
  <!-- END PLUGINS CSS -->

  <!-- BEGIN SHORTCUT AND TOUCH ICONS -->
  <link rel="shortcut icon" href="../../../assets/globals/img/icons/favicon.ico">
  <link rel="apple-touch-icon" href="../../../assets/globals/img/icons/apple-touch-icon.png">
  <!-- END SHORTCUT AND TOUCH ICONS -->
  <script src="../../assets/globals/plugins/modernizr/modernizr.min.js"></script>

</head>
<body>



  <div class="nav-bar-container">

    <!-- BEGIN ICONS -->
    <div class="nav-menu">
      <div class="hamburger">
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
      </div><!--.hamburger-->
    </div><!--.nav-menu-->

    <div class="nav-search">
      <span class="search"></span>
    </div><!--.nav-search-->

    <div class="nav-user">
      <div class="user">
        <img src="../../assets/globals/img/faces/tolga-ergin.jpg" alt="">
        <span class="badge">3</span>
      </div><!--.user-->
      <div class="cross">
        <span class="line"></span>
        <span class="line"></span>
      </div><!--.cross-->
    </div><!--.nav-user-->
    <!-- END OF ICONS -->

    <div class="nav-bar-border"></div><!--.nav-bar-border-->

    <!-- BEGIN OVERLAY HELPERS -->
    <div class="overlay">
      <div class="starting-point">
        <span></span>
      </div><!--.starting-point-->
    <div class="logo">REVOLUTION</div><!--.logo-->
    </div><!--.overlay-->

    <div class="overlay-secondary"></div><!--.overlay-secondary-->
    <!-- END OF OVERLAY HELPERS -->
    </div><!--.nav-bar-container-->



  <div class="content">

    <div class="page-header full-content bg-brown">
      <div class="row">
        <div class="col-sm-6">
          <h1>Forgot Password <small>change password</small></h1>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->

    <!-- content -->
      <!-- PUT THE CONTENT HERE -->
    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-heading">
              <div class="panel-title"><h4>Forgot-password</h4></div>
          </div><!--.panel-heading-->
          <div class="panel-body">

            <div class="col-md-4">
              <div class="inputer floating-label">
                <div class="input-wrapper">
                  <input type="text" class="form-control" id="LMU mail" ng-model="forgot-password.lmumail">
                  <label for="LMU mail">LMU mail</label>
                </div>
              </div>

              <div class="inputer">
                <div class="input-wrapper">
                  <input type="password" class="form-control" placeholder="Password" id="password" ng-model="forgot-password.password">
                </div>
              </div>

              <div class="row example-buttons example-row">
                <div class="text-center">
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-default btn-sm" id="submit" ng-model="forgot-password.submit">Submit</button>
                  </div><!--.col-->
                </div>
              </div><!--.row-->
            </div><!--col-md-4-->

            <div class="col-md-4" style="border-left: 2px solid whiteSmoke">
              <div class="row"><!--logo-->
                <div class="col-md-2">
                  <img src="../../../assets/admin1/img/revologo.jpg" style="border-radius: 100%; width: 250px; height: 250px " class="text-center" />
                </div>
              </div><!--logo-->
              
              <div class="row example-buttons example-row">
                <div class="text-center">
                  <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-sm" id="get-started" ng-model="forgot-password.getstarted">GET STARTED</button>
                  </div><!--.col-->
                </div>
              </div><!--.row-->

              <div class="row example-buttons example-row">
                <div class="text-center">
                  <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-sm" id="forgot-password" ng-model="forgot-password.forgotpassword">FORGOT PASSWORD</button>
                  </div><!--.col-->
                </div>
              </div><!--.row-->
            </div><!--col-md-4-->

          </div><!--panel-body-->
        </div><!--panel-->
      </div><!--col-md-12-->
    </div><!--row-->
  </div><!--.content-->



  <!-- BEGIN GLOBAL AND THEME VENDORS -->
  <script src="../../../assets/globals/js/global-vendors.js"></script>
  <!-- END GLOBAL AND THEME VENDORS -->

  <!-- BEGIN PLUGINS AREA -->
  <!-- END PLUGINS AREA -->

  <!-- PLUGINS INITIALIZATION AND SETTINGS -->
  <!-- END PLUGINS INITIALIZATION AND SETTINGS -->

  <!-- PLEASURE -->
  <script src="../../../assets/globals/js/pleasure.js"></script>
  <!-- ADMIN 1 -->
  <script src="../../../assets/admin1/js/layout.js"></script>

  <!-- BEGIN INITIALIZATION-->
  <script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
  });
  </script>
  <!-- END INITIALIZATION-->
</body>
</html>